.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    mat-form-field {
        width: 100%;
    }
}
@media screen and (min-width: 641px) {
    .form {
        flex-direction: row;
        flex-wrap: wrap;
        mat-form-field {
            width: calc(50% - 20px);
        }
    }
}
@media screen and (min-width: 961px) {
    .form mat-form-field {
        width: auto;
    }
}